.main-nav {
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index: 9999;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav-logo {
    padding: 5px 25px;
}

.nav-item {
    margin: 0 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69, 69, 69);
    transition: 0.3s;
}

.nav-btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-item:hover {
    background-color: rgb(226, 226, 226);
    color: black;
}

.navbar form {
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}

.navbar form input {
    min-width: 90%;
    margin: 0;
    border: 1px solid #0000003e;
    padding: 5px 8px 10px 32px;
    font-size: 13px;
    border-radius: 3px;
}

.navbar form > .search_icon {
    position: absolute;
    left: 24px;
    top: 8px;
}

.nav-button {
    padding: 7px 13px;
    border: 1px solid blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #d3e4eb;
}

.main-nav .menu,
.main-nav .logo-menu{
    display: none;
}

.show-search {
    display: none;
}

@media only screen and (max-width: 826px) {

    .main-nav .navbar .menu{
        display: block;
        width: 30px;
        padding: 5px;
        margin-right: 10px;
    }

    .main-nav .navbar .logo-menu {
        display: block;
        margin-left: 10px;
    }

    .main-nav .navbar .hide-btn{
        display: none;
    }

    .navbar form .search_icon {
        position: absolute;
        left: 20px;
        top: -8px;
    }

    .navbar {
        padding: 0%;
    }

    .nav-item {
        margin: 0%;
    }

    .nav-button {
        padding: 5px 13px;
    }

    .navbar .hide-btn {
        display: none;
    }

    .show-search {
        display: block;
    }

    .show-input{
        position: fixed;
        left: 20px;
        top: 60px;
    }

    .nav-logo {
        padding: 5px 12px;
    }
}